body{
text-align: center;
background-image:  url(background.jpg);

background-repeat: no-repeat;
background: size 50px; ;
}
div{
    background-color: white(0, 255, 34);
    opacity: 0.8;
    margin-top: 50px;
}    
h1{
    color: rgb(0, 225, 255);
    font-size: 40px;
}
h3{
    color: rgb(5, 225, 233);
    font-size: 30px;
}
 label{
     color: rgb(0, 228, 236);
     font-size: 30px;
    
 }
 span{
     color: darkmagenta;
     font-size: 30px;
 }


